.root {
  position: relative;
  left: -120px;
}

.input {
  border: 1px solid rgb(0, 0, 0, 0.1);
  padding: 12px 15px;
  padding-left: 40px;
  padding-right: 45px;
  width: 400px;
  font-style: 16px;
  border-radius: 10px;

  &:focus {
    border: 1px solid rgb(0, 0, 0, 0.2);
  }
}

.svgLoop {
  position: absolute;
  top: 11px;
  left: 7px;
  opacity: 0.5;
  width: 20px;
  height: 20px;
}

.svgClear {
  position: absolute;
  top: 11px;
  right: 17px;
  opacity: 0.5;
  width: 20px;
  height: 20px;
}
